@import "tailwindcss";

@theme {
  --color-main: #e4e6c3;
  --color-deeper: #d2d59a;
  --color-emphasis: #dacef2;
  --color-contrast: #eb99a0;

  --spacing-smaller: clamp(5px, 1vw, 10px);
  --spacing-small: clamp(10px, 3vw, 100px);
  --spacing-main: clamp(20px, 5vw, 250px);
  --spacing-large: clamp(30px, 8vw, 500px);
  --spacing-larger: clamp(80px, 10vw, 800px);
}

body {
  all: unset;
}

*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main {
  @apply min-h-[100vh] min-w-[100vw];
  @apply bg-main;
  @apply flex flex-col;
  @apply overflow-y-scroll;
  @apply p-small;
}

.flex-evenly {
  @apply flex flex-col flex-1 w-full items-center justify-evenly;
}

section {
  @apply flex flex-1 flex-col items-center space-y-small  overflow-y-scroll;
}

.main-grid {
  @apply grid grid-cols-1 md:grid-cols-3  grid-flow-row-dense;
}

.main-logo {
  @apply p-smaller h-large;
}

.center {
  @apply flex items-center justify-center;
}

h2,
.h2 {
  @apply font-bold text-center;
}

h3,
.h3 {
  @apply italic text-center text-xs;
}

h4,
.h4 {
  @apply italic text-center text-[10px];
}

.prose {
  @apply font-bold italic leading-relaxed text-left;
}

.code {
  @apply font-[monospace];
}

.tool-card {
  @apply flex flex-col items-center;
  @apply h-full;
}

.tool-icon {
  @apply p-small h-50;
}

.new-todo {
  @apply w-full;
  @apply flex flex-row justify-around items-center;
}

.todo-container {
  @apply relative;
  @apply w-full p-small;
  @apply overflow-y-scroll;
  @apply border rounded;
}
.delete-icon {
  @apply absolute;
  @apply top-0 right-0;
  @apply p-smaller;
}

.drawing-area {
  @apply relative w-full aspect-video;
}
.drawing-element {
  position: absolute;
  top: 0;
  left: 0;
  @apply size-full aspect-video;
}

input[type="number"] {
  @apply text-right;
}

button,
select,
input[type="text"],
.bordered {
  @apply p-smaller font-bold;
  @apply border-2 rounded;
  @apply h-fit;
}

button:hover,
select:hover,
.tool-icon:hover,
.delete-icon:hover,
.hover-grow:hover {
  @apply scale-110 transition-transform duration-200;
}

@keyframes trRight {
  to {
    transform: translate(100%, 0);
  }
}


@keyframes trLeft {
  to {
    transform: translate(-100%, 0);
  }
}
.translate-right {
  animation: trRight 1.5s ease-in-out alternate infinite;
}

.translate-left {
  animation: trLeft 1.5s ease-in-out alternate infinite;
}
